<div class="weather-card" *ngIf="weather">
 <h2>{{ weather.name }}, {{ weather.sys?.country }}</h2>
  <div class="main">
    <div class="temp">
      <h1>{{ weather.main.temp }}°C</h1>
      <p>{{ weather.weather[0].description | titlecase }}</p>
    </div>
  </div>
  <div class="details">
    <div>Humidity: {{ weather.main.humidity }}%</div>
    <div>Wind: {{ weather.wind.speed }} m/s</div>
    <div>Max: {{ weather.main.temp_max }}°C</div>
    <div>Min: {{ weather.main.temp_min }}°C</div>
    <div>Feels like: {{ weather.main.feels_like }}°C</div>
  </div>
</div>